body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Uikit*/
h1 {
    font-size: 17px;
    color: #2c3e50;
}

/*Bouton*/
.btn {
    font-size: 20px;
    text-decoration: none;
    background-color:#2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.btn:hover{
    background: #27ae60;
}

/*Alerte*/
.alert{
    background-color: #f8d7da;
    width:300px;
    color: #721c24;
    border-color: #f5c6cb;
    border-radius: 5px;
    padding: 20px;
    }


/*Liste*/
.list-group-item{
    width: 200px;
    padding: 10px;
    list-style: none;
    border: 1px solid #DFDFDF;
    font: #000000;    
}

.list-group-item:first-child  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

  .list-group-item:last-child  {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Card*/
  .card{
      margin: 15px;
      border: 1px solid #DFDFDF;
      width: 300px;
      border-radius: 5px;
      padding-bottom: 15px;
}

.card p{
    padding-bottom: 10px;
}

  .card h3{
      font-size: 30px;
}

#imagecard{
    height: 300px;
    background-size: cover;
    background-image: url(/uikit/images.jpg);
}


/*Navbar*/
.navbar{
    display: flex;
    flex-direction: row;
    background-color:  #f8f9fa;
    font:  #2c3e50;
    width: 500px;
}

.navbar-item{
    list-style: none;
    padding: 15px;
}

@media (max-width: 700px)
{
.navbar{
    display: flex;
    flex-direction: column;
    background-color:  #f8f9fa;
    font:  #2c3e50;
    width: 250px;
    }
    
}


